/*Desafio Style*/


body {
    background: #E5E5E5;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.encrypt_button {
    /* Auto layout */
    position: static;
    width: 280px;
    height: 19px;
    left: 24px;
    top: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    position: static;
    width: 328px;
    height: 67px;
    left: 0px;
    top: 0px;
    /* Dark blue/dark-blue-300 */

    background: #0A3871;
    border-radius: 24px;
    /* Inside auto layout */
    color: white;
    text-align: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 24px;
}

.txt_encrypted {
    /* Ingresa el texto que desees encriptar o desencriptar. */


    position: static;
    width: 336px;
    height: 48px;
    left: 0px;
    top: 74px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    text-align: center;
    /* Gray/gray-400 */

    color: #495057;
    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;
}

aside {
    position: static;
    float: right;
}

.logo {
    /* Vector */
    position: absolute;
    left: 36.67%;
    right: 37.43%;
    top: 0%;
    bottom: 0%;
    /* Dark blue/dark-blue-300 */
}
