/*Desafio Style*/

header {
    position: fixed;
    margin-bottom: 10px;
}

.logo {
    margin-top: 0.5vh;
    width: 4vh;
    margin-left: 2vh;
    margin-bottom: 10px;
}

body {
    
    background: #E5E5E5;
    font-family: 'Inter';
    font-style: normal;
    display: flex;
}

.inputsection {
    margin-top: 100px;
    position: fixed;
    text-align: center;
    align-items: center;
    width: 60%;
    height: 80vh;
}

.outputsection {
    text-align: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 65%;
    text-align: right;
    width: 30%;
    height: 80vh;
    border-radius: 32px;
    background: white;
    text-align: center;
    align-items: center;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.txt_toencrypt {

    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
    border: solid #E5E5E5;
    width: 95%;
    height: 55%;
    background: #E5E5E5;
    color: #0A3871;
    text-align: center;
    font-size: xx-large;
    font-family: 'Inter';
    text-transform: lowercase;
    write-space: pre-wrap;
    overflow-wrap: break-word;
}

.txt_encrypted {
    margin-top: 10px;
    border-radius: 24px;
    width: 80%;
    height: 40vh;
    border: none;
    background: white;
    padding-left: 1%;
    color: #0A3871;
    text-align: center;
    font-size: larger;
    overflow-wrap: break-word;
    write-space: pre-wrap;
    word-break: break-word;
    word-wrap: break-word;
    align-items: center;
}

.munheco {
    width: 50%;
    margin-top: 20px;
    margin-left: 20px;
}

.encrypt_button {
    /* Auto layout */
    flex-direction: row;
    align-items: center;
    position: static;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    margin-bottom: 24px;
    text-align: center;
    color: white;
    margin-top: 10px;
}

.decrypt_button {
    flex-direction: row;
    align-items: center;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    margin-bottom: 24px;
    margin-top: 10px;
    text-align: center;
}

.copy_button {
    display: normal;
    flex-direction: row;
    align-items: center;
    position: static;
    width: 80%;
    height: 8%;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    margin-bottom: 24px;
    text-align: center;
}

.thide {
    display: none;
}

.infoIcon {
    width: 10px;
}

.infoIcon:hover {
        color: white;
        width: 15px;
}

.info:hover + .thide {
    display: block;
    color: #0A3871;
}

.info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.copy_button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.encrypt_button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.decrypt_button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

a:link, a:visited {
    color: black;
    text-align: center;
    text-decoration: none;
}
